body {
    background-color: #E1F7E7;
    color: #02547D;
}

h3 {
    color: #02547D;    
}

.accountMenu {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.accountMenuButton {
    font-size: 85%;
    background: #A9E8DC;
    color: #02547D;
    width: 100%;
    text-align: left;
    border-radius: 0px;
}

.accountMenuLink {
    background: #A9E8DC;
    color: #02547D;
}

.accountMenuLink:hover {
    background: #02547D;
    color: #A9E8DC;
}

.accountMenuList {
    border-style: solid;
    border-color: midnightblue;
}

.booksTable {
    width: 100%;
    border: 1px solid #02547D;
}

.booksTable td {
    border-bottom: 1px solid #02547D;
}

.booksTable thead {
    background-color: #02547D;
    color: #A9E8DC;
}

.button {
    background: #0284A8;
    color: #E1F7E7;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);    
}

.buttonFullWidth {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.centerForm {
    background-color: #E1F7E7;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.centerModal {
    background-color: #02547D;
}

.errorBar {
    background-color: #c90014;
    color: white;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}

.errorBar h3 {
    color: white;
}

.inlineIcon {
    padding-right: 5px;
}

.sidebar {
    background-color: #02547D;
    min-height: 400px;
}

.titlebar {
    background-color: #02547D;
    color: #A9E8DC;
    width: 100%;
    text-align: center;
    position: relative
}

.titlebar h1 a {
    color: #A9E8DC;    
}

.warning {
    color: red;
}

 